* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: #222222;
  --lightblack: rgba(0, 0, 0, 0.25);
  --lightgray: #e2e2e2;
  --gray-100: #f9f9f9;
  --yellow: #f3bf22;
  --yellow-200: #f5de00;
  --white2: rgb(249, 249, 249, 1);
}

/*! Ficar alerta para o código abaixo. É padrão para responsividade */

body {
  -webkit-font-smoothing: antialiased;
}

body,
textarea,
input,
button {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

button {
  cursor: pointer;
}

@media (max-width: 1300px) {
  html {
    font-size: 87.5%;
  }
}
