footer{
    background-color: var(--gray);
}

.fter{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
    margin-inline: auto;
    gap: 2rem;
}

footer img{
    max-width: 13rem;
}

.fticons{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.fticons a{
    color: gray;
}

.fticons a:hover{
    color: white;
}

.ftlinks{
    display: flex;
    gap: 1rem;
    color: gray;
    align-items: center;
}

.ftlinks a{
    color: gray;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

.ftlinks a:hover{
    color: white;
}


@media screen and (max-width: 1300px){
 
    .fter{
        max-width: 100%;
    }

}